<div id="main">
    <h1>Post hinzuf체gen</h1>
    <form action="/post_db" method="POST" id="postform" class="form">
        <input type="text" id="title" name="title" placeholder="Titel">
        <textarea id="content" name="content" placeholder="Text"></textarea>
        <label>
            Autor
            <select id="author" name="author">
                <option value="id" disabled selected>Autor ausw채hlen</option>
                {{#each authors}}
                    <option value="{{this._id}}">{{this.Surname}} {{this.Name}}</option>
                {{/each}}
            </select>
        </label>
        <label>
            Kategorie
            <select id="category" name="category">
                <option value="id" disabled selected>Kategorie ausw채hlen</option>
                {{#each categories}}
                    <option value="{{this._id}}">{{this.catname}}</option>
                {{/each}}
            </select>
        </label>
        <input type="submit" value="Post hinzuf체gen" id="submit">
    </form>
</div>