<div id="main">
    <h1 id="category_name">{{category.catname}}</h1>
    <ul class="post_list">
    {{#each posts}}
        <a>
            <h2>{{this.title}}</h2>
            <div class="post_date">{{this.date}}</div>
            <div class="post_author">Gepostet von: {{this.author.Surname}} {{this.author.Name}}</div>
            <div class="post_content_preview">{{this.content}}</div>
        </a>
    {{/each}}
    </ul>
</div>