<div id='main'>
    <h1>{{post.title}}</h1>
    <div class='author'>
        Geschrieben von {{{post.author.Surname}}} {{post.author.Name}} am {{post.date}}
    </div>
    <br>
    <pre class='text_content'>{{post.content}}</pre>
    <form action='/addcomment' method='post' id='comment_section'>
        <input type='text' name='id' value='{{post._id}}' style='display:none'>
        <div class='grid-x grid-margin-x'>
            <div class='small-3 medium-3 large-3 cell'>
                <label>Name
                    <input type='text' name='name'>
                </label>
            </div>
            <div class='small-9 medium-9 large-9 cell'>
                <label>Kommentar
                    <input type='text' name='comment'>
                    <input type='submit' value='Kommentieren'>
                </label>
            </div>
        </div>
    </form>
    <div id='comments'>
        {{#each comments}}
        <div class='comment'>
            <div class='comment_author'>
                Kommentar von {{this.username}}:
            </div>
            <pre class='message'>{{this.commentmsg}}</pre>
        </div>
        {{/each}}
    </div>
</div>