<div id='main'>
    <h1>{{post.title}}</h1>
    <div class='author'>
        Geschrieben von {{{post.author.Surname}}} {{post.author.Name}} am {{post.date}}
    </div>
    <br>
    <pre class='text_content'>{{post.content}}</pre>
</div>