<div id="main">
    <h1>{{title}}</h1>
    <ul class="post_list">
    {{#each post}}
        <a href="/{{path}}{{this._id}}">
            <h2>{{this.title}}</h2>
            <div class="post_date">{{this.date}}</div>
            <div class="post_author">Gepostet von: {{this.author.Surname}} {{this.author.Name}}</div>
            <div class="post_content_preview">{{this.content}}</div>
            <div class="post_category">Kategorie: {{this.category.catname}}</div>
        </a>
    {{/each}}
    </ul>
</div>